.root {
    -fx-background-color: #2b2b2b;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
    -fx-border-color: #3c3f41;
}

.button:hover {
    -fx-background-color: #464849;
}

.button:pressed {
    -fx-background-color: #383b3d;
}

.title {
    -fx-font-family: 'Impact', sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: #add8e6;
    -fx-padding: 20 0 0 0;
}